# AED sur le dataset des retours

Dans cette section, nous allons effectuer une analyse exploratoire des données (AED) sur le dataset `retours`. Cette analyse nous permettra de mieux comprendre la structure des données, de détecter les valeurs manquantes, de visualiser les distributions des variables et d'identifier les relations potentielles entre les variables.

In [10]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

data = pd.read_csv('../RAW_data/retoursV2.csv', sep=";")
data.head()

  id_commande id_produit date_retour                 motif
0     O026807     P00184  2024-09-12    Client insatisfait
1     O008302     P00063  2024-12-15  Livraison incomplète
2     O045235     P00158  2024-04-12  Livraison incomplète
3     O001001     P00136  2024-11-18  Livraison incomplète
4     O005871     P00258  2024-11-29    Mauvaise référence

In [11]:
data.shape

(2987, 4)

In [12]:
data.describe()

       id_commande id_produit date_retour               motif
count         2987       2987        2987                2987
unique        2933        358         374                   4
top        O035867     P00379  2025-01-03  Client insatisfait
freq             2         30          35                 776

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2987 entries, 0 to 2986
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_commande  2987 non-null   object
 1   id_produit   2987 non-null   object
 2   date_retour  2987 non-null   object
 3   motif        2987 non-null   object
dtypes: object(4)
memory usage: 93.5+ KB

In [14]:
data.isnull().sum()

id_commande    0
id_produit     0
date_retour    0
motif          0
dtype: int64

ON peut constater qu'il n'y a pas de data interessante pour une AED