In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
#chargement du dataset
df = pd.read_csv('../Merged_data/commandes_merged.csv')

df.head()

,id_commande,date_commande,id_produit,quantité,entrepôt,statut,date_retour,motif
0,O000001,2024-09-03,P00413,2,Marseille,Livré,NaN,NaN
1,O000002,2024-11-09,P00778,15,Lyon,Expédié,NaN,NaN
2,O000004,2024-11-03,P00535,8,Lyon,Livré,NaN,NaN
3,O000006,2024-01-24,P00898,3,Paris,Livré,NaN,NaN
4,O000007,2024-02-15,P00445,1,Lyon,Livré,NaN,NaN

In [ ]:
model = LinearRegression()


# Suppression des colonnes non pertinentes
df.drop(['id', 'date', 'client_id'], axis=1, inplace=True)



cv_results = model.cross_val_score(model, X, y, cv=5)

print("Cross-validation scores:", cv_results)
print("Mean cross-validation score:", np.mean(cv_results))

NameError: name 'model_selection' is not defined