In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Expedition Pr√© proc

In [8]:
# 1. Chargement du fichier
df = pd.read_csv('../RAW_data/expeditions.csv')

# 2. Aper√ßu des premi√®res lignes
print("Aper√ßu du fichier :")
display(df.head())

# 3. Infos g√©n√©rales (types, NaNs...)
print("\nInfos sur les colonnes :")
display(df.info())

# 4. Suppression des doublons
df = df.drop_duplicates()

# 5. Affichage des valeurs manquantes par colonne
print("\nValeurs manquantes par colonne :")
display(df.isnull().sum())

# 6. Suppression ou remplissage des valeurs manquantes
# Exemple : on remplit les colonnes num√©riques avec la moyenne
for col in df.select_dtypes(include='number').columns:
    df[col].fillna(df[col].mean(), inplace=True)

# Exemple : on remplit les colonnes cat√©gorielles avec la valeur la plus fr√©quente
for col in df.select_dtypes(include='object').columns:
    df[col].fillna(df[col].mode()[0], inplace=True)

# 7. V√©rification du nettoyage
print("\nAper√ßu apr√®s nettoyage :")
display(df.head())

Aper√ßu du fichier :

  id_expedition;id_commande;id_produit;quantite;entrepot;date_expedition;date_livraison;transporteur;cout_transport
0  SHP000001;O000001;P00527;6;Marseille;25/07/202...
1  SHP000002;O000002;P00336;5;Lyon;22/02/2024;27/...
2  SHP000003;O000004;P00887;8;Lyon;30/08/2024;31/...
3  SHP000004;O000006;P00810;6;Paris;03/06/2024;06...
4  SHP000005;O000007;P00154;4;Lyon;03/10/2024;09/...

Infos sur les colonnes :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42404 entries, 0 to 42403
Data columns (total 1 columns):
 #   Column                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                             --------------  -----
 0   id_expedition;id_commande;id_produit;quantite;entrepot;date_expedition;date_livraison;transporteur;cout_transport  42404 non-null  object
dtypes: object(1)
memory usage: 331.4+ KB

None

Valeurs manquantes par colonne :

id_expedition;id_commande;id_produit;quantite;entrepot;date_expedition;date_livraison;transporteur;cout_transport    0
dtype: int64

Aper√ßu apr√®s nettoyage :

C:\Users\Jules\AppData\Local\Temp\ipykernel_1120\3086742500.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

  id_expedition;id_commande;id_produit;quantite;entrepot;date_expedition;date_livraison;transporteur;cout_transport
0  SHP000001;O000001;P00527;6;Marseille;25/07/202...
1  SHP000002;O000002;P00336;5;Lyon;22/02/2024;27/...
2  SHP000003;O000004;P00887;8;Lyon;30/08/2024;31/...
3  SHP000004;O000006;P00810;6;Paris;03/06/2024;06...
4  SHP000005;O000007;P00154;4;Lyon;03/10/2024;09/...

D√©tection des valeurs aberrantes avec la m√©thode de l'Intervalle inter quartiles

In [9]:

outliers = {}

for col in df.select_dtypes(include='number').columns:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # On garde les lignes consid√©r√©es comme aberrantes
    mask_outliers = (df[col] < lower_bound) | (df[col] > upper_bound)
    outliers_count = mask_outliers.sum()
    
    if outliers_count > 0:
        outliers[col] = df[mask_outliers]

# Affichage des r√©sultats
if outliers:
    for col, data in outliers.items():
        print(f"\nValeurs aberrantes d√©tect√©es dans la colonne '{col}' ({len(data)} valeurs) :")
        display(data[[col]])
else:
    print("‚úÖ Aucune valeur aberrante d√©tect√©e dans les colonnes num√©riques.")

‚úÖ Aucune valeur aberrante d√©tect√©e dans les colonnes num√©riques.

In [10]:
# V√©rifie s'il y a des doublons (lignes identiques)
duplicated_rows = df[df.duplicated()]

# Affiche le nombre de doublons
print(f"Nombre de lignes dupliqu√©es : {duplicated_rows.shape[0]}")

# Affiche les lignes dupliqu√©es si elles existent
if not duplicated_rows.empty:
    print("Voici les doublons :")
    display(duplicated_rows)
else:
    print("‚úÖ Aucun doublon d√©tect√©.")

Nombre de lignes dupliqu√©es : 0
‚úÖ Aucun doublon d√©tect√©.

In [11]:
# 1. Affiche les colonnes cat√©gorielles (object ou category)
cat_cols = df.select_dtypes(include=['object', 'category']).columns
print("Colonnes cat√©gorielles :")
print(list(cat_cols))

# 2. Affiche les valeurs uniques pour chaque colonne cat√©gorielle
print("\nValeurs uniques par colonne cat√©gorielle :")
for col in cat_cols:
    print(f"\n--- {col} ---")
    print(df[col].value_counts())
    print("-" * 30)

Colonnes cat√©gorielles :
['id_expedition;id_commande;id_produit;quantite;entrepot;date_expedition;date_livraison;transporteur;cout_transport']

Valeurs uniques par colonne cat√©gorielle :

--- id_expedition;id_commande;id_produit;quantite;entrepot;date_expedition;date_livraison;transporteur;cout_transport ---
id_expedition;id_commande;id_produit;quantite;entrepot;date_expedition;date_livraison;transporteur;cout_transport
SHP042404;O050000;P00445;6;Lyon;02/08/2024;05/08/2024;DHL;10.37           1
SHP000001;O000001;P00527;6;Marseille;25/07/2024;29/07/2024;FedEx;33.08    1
SHP000002;O000002;P00336;5;Lyon;22/02/2024;27/02/2024;UPS;5.41            1
SHP000003;O000004;P00887;8;Lyon;30/08/2024;31/08/2024;FedEx;38.47         1
SHP042388;O049984;P00247;5;Lyon;27/06/2024;29/06/2024;FedEx;29.71         1
                                                                         ..
SHP000009;O000012;P00448;9;Lyon;12/12/2024;18/12/2024;UPS;5.68            1
SHP000008;O000011;P00919;3;Lyon;28/07/2024;02/08/2024;DHL;38.99           1
SHP000007;O000009;P00253;8;Lyon;04/08/2024;05/08/2024;DHL;32.59           1
SHP000006;O000008;P00817;9;Lyon;07/04/2024;09/04/2024;DHL;48.77           1
SHP000005;O000007;P00154;4;Lyon;03/10/2024;09/10/2024;DHL;22.82           1
Name: count, Length: 42404, dtype: int64
------------------------------

In [12]:
# Pour une belle mise en forme des graphiques
sns.set(style="whitegrid")
plt.rcParams["figure.figsize"] = (10, 5)

# 1. Colonnes cat√©gorielles
cat_cols = df.select_dtypes(include=['object', 'category']).columns
print("üéØ Colonnes cat√©gorielles :", list(cat_cols))

# 2. Affichage des valeurs uniques et graphiques barres
for col in cat_cols:
    print(f"\nüî∏ {col} - Top cat√©gories")
    print(df[col].value_counts().head(10))

üéØ Colonnes cat√©gorielles : ['id_expedition;id_commande;id_produit;quantite;entrepot;date_expedition;date_livraison;transporteur;cout_transport']

üî∏ id_expedition;id_commande;id_produit;quantite;entrepot;date_expedition;date_livraison;transporteur;cout_transport - Top cat√©gories
id_expedition;id_commande;id_produit;quantite;entrepot;date_expedition;date_livraison;transporteur;cout_transport
SHP042404;O050000;P00445;6;Lyon;02/08/2024;05/08/2024;DHL;10.37           1
SHP000001;O000001;P00527;6;Marseille;25/07/2024;29/07/2024;FedEx;33.08    1
SHP000002;O000002;P00336;5;Lyon;22/02/2024;27/02/2024;UPS;5.41            1
SHP000003;O000004;P00887;8;Lyon;30/08/2024;31/08/2024;FedEx;38.47         1
SHP042388;O049984;P00247;5;Lyon;27/06/2024;29/06/2024;FedEx;29.71         1
SHP042387;O049983;P00186;5;Lyon;26/03/2024;29/03/2024;FedEx;26.15         1
SHP042386;O049982;P00040;3;Lyon;18/05/2024;20/05/2024;UPS;8.29            1
SHP042385;O049981;P00312;7;Paris;12/05/2024;18/05/2024;UPS;20.01          1
SHP042384;O049979;P00395;6;Paris;26/03/2024;27/03/2024;FedEx;9.12         1
SHP042383;O049978;P00266;2;Paris;20/08/2024;23/08/2024;DHL;12.92          1
Name: count, dtype: int64