In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

D√©tection des valeurs aberrantes avec la m√©thode de l'Intervalle inter quartiles

In [12]:
# 1. Chargement du fichier
df = pd.read_csv('../RAW_data/produits.csv')

# 2. Aper√ßu des premi√®res lignes
print("Aper√ßu du fichier :")
display(df.head())

# 3. Infos g√©n√©rales (types, NaNs...)
print("\nInfos sur les colonnes :")
display(df.info())

# 4. Suppression des doublons
df = df.drop_duplicates()

# 5. Affichage des valeurs manquantes par colonne
print("\nValeurs manquantes par colonne :")
display(df.isnull().sum())

# 6. Suppression ou remplissage des valeurs manquantes
# Exemple : on remplit les colonnes num√©riques avec la moyenne
for col in df.select_dtypes(include='number').columns:
    df[col].fillna(df[col].mean(), inplace=True)

# Exemple : on remplit les colonnes cat√©gorielles avec la valeur la plus fr√©quente
for col in df.select_dtypes(include='object').columns:
    df[col].fillna(df[col].mode()[0], inplace=True)

# 7. V√©rification du nettoyage
print("\nAper√ßu apr√®s nettoyage :")
display(df.head())

Aper√ßu du fichier :

     id_produit;cat√©gorie;marque;prix;stock_minimum
0     P00001;Soins capillaires;Luxe √âclat;467.42;52
1          P00002;Accessoires;Maison Pure;291.26;10
2     P00003;Maquillage;Essentielle Paris;354.39;60
3           P00004;Accessoires;Reflet d‚ÄôOr;462.8;33
4  P00005;Accessoires;√âlixir Haute Beaut√©;359.47;33

Infos sur les colonnes :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   id_produit;cat√©gorie;marque;prix;stock_minimum  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

None

Valeurs manquantes par colonne :

id_produit;cat√©gorie;marque;prix;stock_minimum    0
dtype: int64

Aper√ßu apr√®s nettoyage :

C:\Users\Jules\AppData\Local\Temp\ipykernel_4964\141607680.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

     id_produit;cat√©gorie;marque;prix;stock_minimum
0     P00001;Soins capillaires;Luxe √âclat;467.42;52
1          P00002;Accessoires;Maison Pure;291.26;10
2     P00003;Maquillage;Essentielle Paris;354.39;60
3           P00004;Accessoires;Reflet d‚ÄôOr;462.8;33
4  P00005;Accessoires;√âlixir Haute Beaut√©;359.47;33

In [13]:

outliers = {}

for col in df.select_dtypes(include='number').columns:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # On garde les lignes consid√©r√©es comme aberrantes
    mask_outliers = (df[col] < lower_bound) | (df[col] > upper_bound)
    outliers_count = mask_outliers.sum()
    
    if outliers_count > 0:
        outliers[col] = df[mask_outliers]

# Affichage des r√©sultats
if outliers:
    for col, data in outliers.items():
        print(f"\nValeurs aberrantes d√©tect√©es dans la colonne '{col}' ({len(data)} valeurs) :")
        display(data[[col]])
else:
    print("‚úÖ Aucune valeur aberrante d√©tect√©e dans les colonnes num√©riques.")

‚úÖ Aucune valeur aberrante d√©tect√©e dans les colonnes num√©riques.

In [14]:
# V√©rifie s'il y a des doublons (lignes identiques)
duplicated_rows = df[df.duplicated()]

# Affiche le nombre de doublons
print(f"Nombre de lignes dupliqu√©es : {duplicated_rows.shape[0]}")

# Affiche les lignes dupliqu√©es si elles existent
if not duplicated_rows.empty:
    print("Voici les doublons :")
    display(duplicated_rows)
else:
    print("‚úÖ Aucun doublon d√©tect√©.")

Nombre de lignes dupliqu√©es : 0
‚úÖ Aucun doublon d√©tect√©.

In [15]:
# 1. Affiche les colonnes cat√©gorielles (object ou category)
cat_cols = df.select_dtypes(include=['object', 'category']).columns
print("Colonnes cat√©gorielles :")
print(list(cat_cols))

# 2. Affiche les valeurs uniques pour chaque colonne cat√©gorielle
print("\nValeurs uniques par colonne cat√©gorielle :")
for col in cat_cols:
    print(f"\n--- {col} ---")
    print(df[col].value_counts())
    print("-" * 30)

Colonnes cat√©gorielles :
['id_produit;cat√©gorie;marque;prix;stock_minimum']

Valeurs uniques par colonne cat√©gorielle :

--- id_produit;cat√©gorie;marque;prix;stock_minimum ---
id_produit;cat√©gorie;marque;prix;stock_minimum
P01000;Maquillage;H√©ritage Sensuel;60.7;31          1
P00001;Soins capillaires;Luxe √âclat;467.42;52       1
P00002;Accessoires;Maison Pure;291.26;10            1
P00003;Maquillage;Essentielle Paris;354.39;60       1
P00004;Accessoires;Reflet d‚ÄôOr;462.8;33             1
                                                   ..
P00013;Accessoires;Essentielle Paris;236.4;61       1
P00012;Maquillage;Maison Pure;464.27;20             1
P00011;Soins capillaires;Luxe √âclat;468.5;40        1
P00010;Accessoires;√âlixir Haute Beaut√©;373.49;67    1
P00009;Maquillage;Reflet d‚ÄôOr;223.58;30             1
Name: count, Length: 1000, dtype: int64
------------------------------

In [16]:
# Pour une belle mise en forme des graphiques
sns.set(style="whitegrid")
plt.rcParams["figure.figsize"] = (10, 5)

# 1. Colonnes cat√©gorielles
cat_cols = df.select_dtypes(include=['object', 'category']).columns
print("üéØ Colonnes cat√©gorielles :", list(cat_cols))

# 2. Affichage des valeurs uniques et graphiques barres
for col in cat_cols:
    print(f"\nüî∏ {col} - Top cat√©gories")
    print(df[col].value_counts().head(10))

üéØ Colonnes cat√©gorielles : ['id_produit;cat√©gorie;marque;prix;stock_minimum']

üî∏ id_produit;cat√©gorie;marque;prix;stock_minimum - Top cat√©gories
id_produit;cat√©gorie;marque;prix;stock_minimum
P01000;Maquillage;H√©ritage Sensuel;60.7;31          1
P00001;Soins capillaires;Luxe √âclat;467.42;52       1
P00002;Accessoires;Maison Pure;291.26;10            1
P00003;Maquillage;Essentielle Paris;354.39;60       1
P00004;Accessoires;Reflet d‚ÄôOr;462.8;33             1
P00005;Accessoires;√âlixir Haute Beaut√©;359.47;33    1
P00006;Parfums;Luxe √âclat;93.22;26                  1
P00007;Maquillage;Maison Pure;296.62;14             1
P00984;Parfums;Ligne Lumi√®re;423.62;81              1
P00983;Soins capillaires;√âpure d'Azur;142.24;82     1
Name: count, dtype: int64