In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

achat = pd.read_csv('../RAW_data/achatsV2.csv', sep=";")
print(achat.head())
print("////////////////////////////////////////////////")


fournisseurs = pd.read_csv('../RAW_data/fournisseursV2.csv', sep=";") 
print(fournisseurs.head())

   id_achat  date_achat id_produit  quantité id_fournisseur  prix_unitaire  \
0  PO000001  22/03/2024     P00627       150           S029         129.62
1  PO000002  12/06/2024     P00469        50           S028         110.81
2  PO000003  19/01/2024     P00849        75           S001         140.58
3  PO000004  20/11/2024     P00484       500           S028         120.77
4  PO000005  07/06/2024     P00196        50           S025         256.05

   délai_livraison_jours
0                     14
1                      8
2                      8
3                      9
4                     13
////////////////////////////////////////////////
  id_fournisseur  nom_fournisseur      ville      pays  fiabilité  \
0           S001  Lecomte et Fils     Zurich    Suisse       0.84
1           S002           Morvan      Paris    France       0.86
2           S003  Germain et Fils  Amsterdam  Pays-Bas       0.85
3           S004         Philippe       Rome    Italie       0.57
4           S005            Blanc     Dublin   Irlande       0.65

   délai_moyen_jours
0                 10
1                  9
2                 10
3                  9
4                 13

In [8]:
df_merged = pd.merge(achat, fournisseurs, on="id_fournisseur", how="left")
df_merged.head()

,id_achat,date_achat,id_produit,quantité,id_fournisseur,prix_unitaire,délai_livraison_jours,nom_fournisseur,ville,pays,fiabilité,délai_moyen_jours
0,PO000001,22/03/2024,P00627,150,S029,129.62,14,Fontaine Lopes S.A.,Helsinki,Finlande,0.54,6
1,PO000002,12/06/2024,P00469,50,S028,110.81,8,Delattre Blot S.A.,Berlin,Allemagne,0.74,8
2,PO000003,19/01/2024,P00849,75,S001,140.58,8,Lecomte et Fils,Zurich,Suisse,0.84,10
3,PO000004,20/11/2024,P00484,500,S028,120.77,9,Delattre Blot S.A.,Berlin,Allemagne,0.74,8
4,PO000005,07/06/2024,P00196,50,S025,256.05,13,Techer SA,Varsovie,Pologne,0.92,12